.container
  .row.justify-content-center
    .col-10.col-md-8.col-xl-6.my-5

      %h2.text-center.mb-5.mt-5
        Edit Your Account

      = simple_form_for resource, url: registration_path(resource_name), method: :put do |f|

        = devise_error_messages!

        .form-row
          .col-md
            = f.input :first_name
          .col-md
            = f.input :last_name

        = f.input :email, hint: devise_mapping.confirmable? && resource.pending_reconfirmation? ? "Currently waiting confirmation for: #{resource.unconfirmed_email}" : nil


        = f.submit "Update account", class: 'btn btn-lg btn-block btn-primary mb-3'




      %h2.text-center.mb-5.mt-5
        Update Password

      = simple_form_for current_user, url: update_password_user_path, method: :patch do |f|

        = devise_error_messages!

        .form-row
          .col-md
            = f.input :password, input_html: {minlength: @minimum_password_length}, hint: "Minimum #{@minimum_password_length} characters", required: true
          .col-md
            = f.input :password_confirmation, input_html: {minlength: @minimum_password_length}, required: true

        = f.input :current_password, hint: "We need your current password to update your password"

        = f.submit "Update password", class: 'btn btn-lg btn-block btn-primary mb-3'



= link_to 'Destroy', user_registration_path, :confirm => 'Are you sure you want to destroy your account?', :method => :delete